# Coding style
flake8
pep8-naming

# Testing Framework
pytest===2.8.4
ipdb

# Topology Platform Engines
topology_docker>=1.2.0

# Communication Libraries
-e git+https://github.com/HPENetworking/topology_lib_ping.git@master#egg=topology_lib_ping
-e git+https://github.com/HPENetworking/topology_docker_openswitch.git@master#egg=topology_docker_openswitch
-e git+https://github.com/HPENetworking/topology_lib_ip.git@master#egg=topology_lib_ip
-e git+https://git.openswitch.net/openswitch/ops-topology-lib-vtysh.git@master#egg=topology_lib_vtysh
